body {
  padding: 0;
  margin: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

img {
  max-width: 100%;
  width: 15%;
  height: auto;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.36);
}

.mainImg {
  width: 40%;
  padding: auto;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

body {
  padding: 0;
  margin: 0;
  background-color: #98f5e1;
}

.main {
  text-align: center;
  overflow: hidden;
  height: 90vh;
  margin-top: 4.49%;
}

.recipeList {
  text-align: center;
  margin-top: 83px;
}

.fridgeRecipe {
  position: absolute;
  left: 900px;
  text-align: center;
  width: 700px;
  top: 68px;
}

.fridgeRecipe img {
  width: 200px;
  height: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.navbar li {
  text-decoration: none;
  list-style: none;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  cursor: pointer;
}

.navbar a:hover {
  color: #088178;
}

.recipeList {
  margin-top: 83px;
}



.commentButton {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.commentButton:hover,
.commentButton:focus {
  background-color: #F082AC;
}

.commentSection {
  text-align: center;
  margin: auto;
  width: 80%;
  max-width: 600px;
}

.comment {
  position: relative;
  border: 1px solid black;
}

.commentArea {
  margin-top: 20px;
}

.deleteComment {
  all: unset;
  position: absolute;
  top: 0;
  right: 10px;
  border: 1px solid black;
  padding: 3px;
  width: 20px;
}

.deleteComment:hover {
  color: white;
}

.comments {
  max-height: 20vh;
  overflow: auto;
  border-radius: 5%;
}

.navbar a.active {
  color: #EA4C89;
}

.flexBox {
  display: flex;
  width: 80%;
  max-width: 600px;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.main .ingredients-table {
  margin: auto;
  margin-left: 20px;
}

.addToFavorites {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

button {
  background-color: rgba(8, 129, 120, 0.6);
  color: white;
  font-size: large;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  margin: 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(8, 129, 120, 1);
  transition: 0.3s ease;
}


.FFF {
  font-weight: bolder;
  position: absolute;
  left: 7%;
  font-size: larger;
  font-style: italic;
}



@media only screen and (max-width: 768px) {
  .flexBox {
    width: 90%;
  }

  .commentSection {
    width: 90%;
  }
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.averageRating {
  font-family: monospace;
}

.ingredients-table {
  margin-bottom: 5px;
}

.saveRatingButton {
  display: flex;
  margin: auto;
}

.slick-slide {
  transition: transform 0.5s ease;
}

@media only screen and (max-width: 100%) {
  .slick-slide {
    transform: scale(0.8);
  }
}

nav {
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.36);
  height: 23px;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0cc2b6;
}

nav ul {
  display: flex;
  right: 0;
}

nav ul li {
  list-style: none;
  right: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #1a1a1a;
  padding: 10px;
  margin: 0 10px;
  border-radius: 0.5rem;
}

nav .menu {
  display: flex;
  position: absolute;
  top: 17px;
  right: 100px;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

nav .menu div {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  cursor: pointer;
  border-radius: 0.2rem;
}

@media screen {
  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
  }

  nav ul.open {
    display: flex;
    position: fixed;
    background-color: #0cc2b6;
    width: 25%;
    top: 4.9%;
    padding: 0;
    font-size: larger;
    height: 100%;
  }

  nav ul li {
    right: 0;
    width: 100%;
    padding-bottom: 1%;
    text-align: center;
    border-bottom: 2px solid black;
  }

  nav ul li a {
    right: 0;
  }
}

.Pagination {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.Previous {
  margin: 40px 5px 0px 0px;
  border-radius: 0;
  height: 48px;
}

.Next {
  margin: 40px 0px 0px 5px;
  height: 48px;
  border-radius: 0;
}

.paginationSpan {
  padding: 16px;
  padding-bottom: 14px;
  background-color: rgba(8, 129, 120, 0.6);
  transition: 0.3s ease;
  height: 50px;
  color: white;
  border: 5px solid #98f5e1;
}

.paginationSpan:hover {
  cursor: pointer;
  background-color: rgba(8, 129, 120, 1);
  transition: 0.3s ease;
}